<div class="fondo img-fondo">
    <h1 class="title-Page altura-Page">{{Page}}</h1>
</div>
<section class="mb-5">
    <div class="container">
        {{#if cart}}
        <div class="row">
            <div class="flex-checkout">
                <div class="col-md-4">
                    <h2 class="my-3 animacion-h1-product-view">Your Cart shopping</h2>
                    <p class="border-total-checkout lead">Total a Pagar : {{Total}} <i class='bx bx-dollar'></i></p>
                </div>
                <div class="">
                    <a href="/product/cart/clear" class="btn-clear-cart color-red clearcart">Clear All Cart</a>
                    <a href="" class="btn-buy-now color-yellow">Pay Now</a>
                </div>
            </div>
        </div>
        {{/if}}
        <div class="row">
            {{#each cart}}<!--DATA CARRITO-->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-header">
                            <div>
                                <img src="/{{path}}" alt="">
                            </div>
                        </div>
                        <div class="card-body">
                            <h3 class="h3-product-all">{{title}}</h3>
                            <p class="price-product-all">{{price}} <i class='bx bx-dollar'></i></p>
                        </div>
                        <div class="card-footer flex-checkout">
                            <div>
                                <p>Quanty : {{cantidad}}</p>
                                <p>Total : {{subtotal}}</p>
                            </div>
                            <ul class="list-checkout">
                                <a href="/product/cart/update/{{title}}?action=add" class="btn-block btn-add"
                                    title="Agregar 1 cantidad mas"><i class='bx bx-plus color-icon'></i></a>
                                <a href="/product/cart/update/{{title}}?action=remove" class="btn-block btn-remove"
                                    title="Retirar una cantidad"><i class='bx bx-minus color-icon'></i></a>
                                <a href="/product/cart/update/{{title}}?action=clear" class="btn-block btn-clear"
                                    title="Limpiar Producto"><i class='bx bxs-x-circle color-icon'></i></a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {{else}}
            <div> <!--VACIO-->
                <div class="col-md-5 mx-auto my-5">
                    <div class="card">
                        <div class="card-body">
                            <p class="text-center">Tu Carrito de compras Esta Vacio</p>
                            <a href="/products/all/1" class="btn-client">Quiero Ir a Comprar</a>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}} <!--EMD-DATA CARRITO-->
        </div>
    </div>
</section>